.flex {
  display: flex;
}
.items-end {
  align-items: end;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.center {
  display: flex;
  @extend .items-center;
  @extend .justify-center;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.rotate-90 {
  transform: rotate(90deg);
}
$fonts: 400, 500, 600, 700;

@each $font in $fonts {
  .fw-#{$font} {
    font-weight: $font;
  }
}

@for $i from 10 through 35 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
  .lh-#{$i} {
    line-height: #{$i}px;
  }
}
@for $i from 1 through 30 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
  .ma-#{$i} {
    margin: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .pi-#{$i} {
    padding: #{$i}px;
  }
  .pa-#{$i} {
    padding: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}
.text-right {
  text-align: right;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}
.underline {
  text-decoration: underline;
}
.break-all {
  word-break: break-all;
}
.no-underline {
  text-decoration: none;
}
.line-through {
  text-decoration: line-through;
}
.overline {
  text-decoration: overline;
}
.no-select {
  user-select: none;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-100 {
  width: 100vw;
}
.h-100 {
  height: 100vh;
}
.full-size {
  width: 100vw;
  height: 100vh;
}
.rounded {
  border-radius: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.border-box {
  box-sizing: border-box;
}
.no-wrap {
  white-space: nowrap;
}

.flex-1 {
  flex: 1;
}
.blur-fix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
