@use "normalize.css";
@use "colors";
@use "utils";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--color-bg-secondary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.el-button {
  .el-icon {
    width: 18px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
.el-button + .el-button {
  margin-left: 0 !important;
}
